*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
:root{
    --green: green;
    --winner: black;
}

body{
    color: var(--green);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    font-size: 50px;
   margin-bottom: 5px;
}
.container{
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    background-color: black;
}
#gameboard{
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.box{
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: green;
    font-size: 120px;
    border-right: 2px solid;
    border-bottom: 2px solid;
    margin-top: -20px;
}
.box:nth-child(3n){
    border-right: none; 
}
.box:nth-child(6) ~ .box{  /* every box after 6th one will have no bottom border */
    border-bottom: none;
}
button{
    padding: 5px 10px;
    border-radius: 13px;
    background-color: green;
    color: black;
    border-color: green;
    font-size: 15px;
    transition: 200ms;
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button:hover{
    cursor: pointer;
    transform: translateY(-2px);
    background-color: greenyellow;
    
}
